{% extends 'blog/base.html' %}

{% block content %}
    <h2>Log In</h2>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Log In</button>
    </form>
    <div>
        <small>Need an account? <a href="{% url 'register' %}">Sign Up</a></small>
    </div>
{% endblock %}