{% extends 'blog/base.html' %}

{% block content %}

    <h2>{{ user.username }}</h2>
    <p>email: {{ user.email }}</p>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>{{ user.birthday }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Profile Info</h3>
        {{ u_form.as_p }}

        <button type="submit">Update</button>
        <button><a href="{% url 'change_password' %}">Reset Password</a></button>
    </form>
{% endblock %}