{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Sign Up</button>
    </form>
    <div>
        <small>Already Have An Account? <a href="#">Sign In</a></small>
    </div>
{% endblock %}