<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>My site - {{ title }}</title>
    {% else %}
        <title>My site</title>
    {% endif %}
</head>
<body>
    <h1>My site</h1>
    {% if user.is_authenticated %}
        <p>Welcome, <strong>{{ user.username }}</strong></p>
    {% endif %}
    <a href="{% url 'blog-home' %}">Home</a> |
    {% if user.is_authenticated %}

        <a href="{% url 'post-create' %}">New Post</a> |
        <a href="{% url 'profile' %}">Profile</a> |
        <a href="{% url 'logout' %}">Logout</a> |

    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <hr>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>