{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Comment</button>
    </form>

{% endblock %}