{% extends 'blog/base.html' %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    {% for post in posts %}
        <!--passing an id using /url '<destination>' <id of individual post   >/-->
        <!--in the url it will look like this -->
        <!--example: blog/2-->

        <fieldset>
            <a href="{% url 'post-detail' post.id %}"><h1>{{ post.title }} </h1></a>
            <p>By {{ post.author }} on {{ post.date_posted | date:"F d Y" }}</p>

            <p>{{ post.content }}</p>

            {% if user.is_authenticated %}
                <button><a href="{% url 'comment-create' post.id %}">add comment</a></button>
            {% endif %}

            <h2>comments</h2>
            <hr>
                {% for comment in post.comment_set.all %}
                    <h5>{{ comment.author }} </h5>
                    <p>{{ comment.message }}</p>
                    <h5>{{ comment.date_posted }}</h5>

                {% if user.is_authenticated %}
                    {% if comment.author == user %}
                        <button><a href="{% url 'comment-delete' comment.id %}">Delete Comment</a>t</button>
                    {% endif %}

                {% endif %}
            <hr>
                {% endfor %}
        </fieldset>


    {% endfor %}
    <br>
    <br>
    <br>


{% endblock %}