{% extends 'blog/base.html' %}

{% block content %}

    <!--when dealing with detail_views it expects the context of this template to be called object-->

    <h1>{{ object.title }}</h1>
    <p>By {{ object.author }} on {{ object.date_posted | date:"F d Y" }}</p>
    <p>{{ object.content }}</p>
    {% if object.author == user %}
        <button><a href="{% url 'post-update' object.id %}">update</a></button>
        <button><a href="{% url 'post-delete' object.id %}">delete</a></button>

        <h1>comment</h1>
        {% for comment in object.comment_set.all %}
            {{ comment.message }}
        {% endfor %}
    {% endif%}
    <br>



{% endblock %}

