{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST">
        <h2>Delete Post</h2>
        {% csrf_token %}

        <h3>Are you sure you want to delete the comment"</h3>

        {{ form.as_p }}

        <button type="submit">Delete</button>
        <button><a href="{% url 'blog-home' object.id %}">Cancel</a></button>
    </form>

{% endblock %}